VITE_API_URL=http://localhost:5000/api/v1

VITE_MAP_TILE_URL=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
VITE_MAP_ATTRIBUTION=© OpenStreetMap contributors
VITE_DEFAULT_LAT=11.7447
VITE_DEFAULT_LNG=79.7680